.container {
    max-width: 100vw;
    min-height: 80vh;
    padding: 5rem 0 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: #02020279;
    box-shadow: 2px 2px 4px black;
    border-radius: 12px;
    max-width: 40vw;
    padding: 1rem 3rem 1rem 3rem;
}

.darrow {
    height: 1.8rem;
    width: 1.8rem;
}

.qdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}