.header {
    display: flex;
    background: #1c1c1c;
    width: 100vw;
    height: 8rem;
    justify-content: space-between;
    background-color: #222222;
    padding: 1rem 0;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navContainer {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
    align-items: center;
}


a, button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 6px; */
    height: 4rem;
    width: 8rem;
    border: none;
    /* background-image: linear-gradient(#008478, #0a2422); */
    /* border: 1px solid black; */
    /* margin: 1rem; */
    color: #f5f5f5;
    font-size: 24px;
    /* opacity: 80%; */
    text-decoration: none;
    background-color: #222222;
}

a:hover, button:hover {
    /* opacity: 100%; */
    border-bottom: 1px solid whitesmoke;
}

.login {
    display: flex;
    position: absolute;
    background-color: #0a2422;
    top: 11rem;
    right: 1rem;
    padding: 1rem;
    width: 15rem;
    border: 1px solid #008478;
    border-radius: 6px;
    z-index: 10;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    display: block;
}

.login button {
    width: 4rem;
    height: 2rem;
    font-size: 12px;
}

.logo {
    border-radius: 20%;
    margin-left: 10rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    max-width: 80px;
}

.profileimg {
    width: 100%;
}

.rainbowRoad {
    background-image: linear-gradient(to right, #d61f9a, #8d4de7);
    width: 100vw;
    height: 1.5rem;
}