.container {
    display: flex;
    width: 98vw;
    min-height: calc(100vh - 15.5rem);
}

.stats {
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit;
    padding: 10rem 7rem 0 7rem;
}

.placeholderImg {
    max-width: 30vw;
}

.pdfcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    font-size: 14px;
    line-height: normal;
    height: inherit;
}

.pdfcontainer h1 {
    margin-top: 1rem;
    font-size: 19px;
}


.pdfstats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 12rem;
    width: inherit;
    height: inherit;
}

.itemCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 15.5rem;
    background-color: #02020279;
    border-radius: 12px;
    overflow:auto;
    scrollbar-width: none;
    box-shadow: 2px 2px 4px black;
}

.itemCard::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cardText {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
}

.cardTextHeaderContainer {
    display: flex;
    align-items: center;
}

.itemCard h3 {
    padding-bottom: 0.5rem;
    font-size: 19px;
}

.colorBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: inherit;
    margin-right: 15px;
}

.colorBox img {
    width: 3rem;
    height: 3rem;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column: span 2;
}

.score h2 {
    font-size: 3rem;
}

.scoreNum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    font-size: 8rem;
    font-weight: bolder;
}

.infographic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    grid-column: span 2;
    padding: 0 3rem 0 3rem;
    height: 13.5rem;
    background-color: #02020279;
    border-radius: 12px;
    overflow:auto;
    scrollbar-width: none;
    box-shadow: 2px 2px 4px black;
}