:root {
    --custom-dimension: 12rem;
    --custom-100: calc(var(--custom-dimension) / 0.85);
    --custom-15: calc(var(--custom-100) * 0.15);
    --custom-9: calc(var(--custom-100) * 0.09);
}


.container {
    display: flex;
    width: 98vw;
    min-height: calc(100vh - 15.5rem);
}

.stats {
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit;
    padding: 10rem 5rem 0 7rem;
}

.placeholderImg {
    max-width: 30vw;
}

.pdfcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    font-size: 14px;
    line-height: normal;
    height: inherit;
}

.pdfcontainer h1 {
    margin-top: 1rem;
    font-size: 19px;
}


.pdfstats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: var(--custom-9);
    padding-bottom: 12rem;
    width: inherit;
    height: inherit;
}

.itemCard {
    display: flex;
    flex-direction: row;
    height: var(--custom-dimension);
    width: calc(var(--custom-100) * 1.62);
    background-color: #02020279;
    padding:  var(--custom-9) var(--custom-15);
    border-radius: 12px;
    overflow:auto;
    scrollbar-width: none;
    box-shadow: 2px 2px 4px black;
}

.itemCard::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cardText {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
}

.cardTextHeaderContainer {
    display: flex;
    align-items: center;
    margin: var(--custom-9) 0;
    height: var(--custom-15);
}

.textcontainer {
    display: flex;
    align-items: flex-start;
    height: var(--custom-15);
    overflow: auto;
    scrollbar-width: none;
}

.itemCard h3 {
    font-size: 20px;
}

.colorBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: inherit;
    margin-right: 15px;
}


.colorBox img {
    width: var(--custom-15);
    height: var(--custom-15);
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column: span 2;
}

.score h2 {
    font-size: 3rem;
}

.scoreNum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    font-size: 8rem;
    font-weight: bolder;
}

.infographic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    grid-column: span 2;
    padding: 0 calc(var(--custom-15)*2.3);
    height: var(--custom-dimension);
    width: calc((var(--custom-100)*1.62)*2);
    background-color: #02020279;
    border-radius: 12px;
    overflow:auto;
    scrollbar-width: none;
    box-shadow: 2px 2px 4px black;
}

.pdfBtnContainer {
    display: flex;
    position: absolute;
    top: 15%;
    right: 5%;
}

.pdfBtn {
    background-color: #02020279;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    height: 3rem;
    color: goldenrod;
    border: 1px solid goldenrod;
}

.iconContainer img {
    height: calc(var(--custom-15)*0.5);
    width: calc(var(--custom-15)*0.5);
}

