.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #1c1c1c;
    width: 100vw;
    height: 22rem;
    justify-content: space-between;
    background-color: #222222;
    padding: 1rem 0;

}

.contactForm {
    grid-column: 2;
    display: flex;
    gap: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.info {
    grid-column: 4;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.info a {
    display: block;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
}

.info a:hover {
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}


.logo {
    height: 6rem;
    width: 6rem;
}

.rainbowRoad {
    background-image: linear-gradient(to right, #8d4de7,  #d61f9a);
    width: 100vw;
    height: 1rem;
}