.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #1c1c1c;
    width: 100vw;
    height: 12rem;
    justify-content: space-between;
    background-color: #222222;
    padding: 1rem 0;

}

.contactForm {
    grid-column: 2;
}

.info {
    grid-column: 4;
}


.logo {
    height: 6rem;
    width: 6rem;
}

.rainbowRoad {
    background-image: linear-gradient(to right, #d61f9a, #8d4de7);
    width: 100vw;
    height: 1rem;
}