.asideContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: calc(100vh - 9rem);
    padding: 2rem 2rem;
    background-color: #222222;
}

.aside {
    display: flex;
    flex-direction: column;
}

.aside ul {
    padding: 0;
    margin: 5px 0;
}

.menu {
    width: 2rem;
}

.radioContainer {
    display: flex;
}