:root {
  font-family: LL Circular Medium Web,sans-serif;
  line-height: 1.75;
  font-weight: 400;

  color-scheme: light dark;
  color: #E0E0DE;
  background-color: #0a2422;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

