:root {
  /* font-family: LL Circular Medium Web,sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.75;
  font-weight: 400;

  color-scheme: light dark;
  color: #E0E0DE;
  background-image: linear-gradient(to bottom right, #8d4de7, #d61f9a);
  background-size: cover;
  background-position: center 8rem;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

